venv/
Day_43/3_SpanishColsProj/assets
Day_44/4_Proj_Motiv_post/assets
Day_45/4_Proj_movies/top100movies.txt
Day_46/.env
Day_46/token.txt
Day_47/01_practice_proj/test.py
Day_47/01_practice_proj/session.pickle

Day_47/01_practice_proj/.env
